.backgroundPic{
  /* FIX PICTURE SIZE!!!!! */
  opacity: 0.75;
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#searchCity {
  font-family: 'Optima';
}
#searchCity:hover {
  outline: none;
}
#searchCity:focus {
  outline: none;
}
#searchBox {
  font-family: 'Optima';
}
#searchBox:hover {
  outline: none;
}
#searchBox:focus {
  outline: none;
}
#submitItem {
  font-family: 'Optima';
  background-color: rgb(240,240,240);
  color: rgb(167, 20, 159);
  border: none;
}
#submitItem:hover {
  color: rgb(255, 14, 223);
  background-color: rgb(255,255,255);
  border: none;
}
#submitItem:focus {outline:0;
}

.header{
  z-index: 10;
  text-align: center;
}
#textLine{
  color: blue;
  font-family: fantasy;
  padding-left: 40px;
  font-size: 30px;
}

#title{
  text-align: center;
  font-style: bold;
  font-size: 69px;
  font-family: Optima;
  color: rgb(6, 60, 236);
}
#subtitle {
  font-size: 20px;
  font-family: Optima;
  color: rgb(218, 24, 208);
}
#nb {
  font-family: fantasy;
  color: white;
  text-align: center;
}

#artistForm{
  text-align: center;
}

#cityDiv {
  text-align: center;

}
#listGang {
  font-family: fantasy;
  font-size: 20px;
  color: rgb(255, 14, 223);
}
