.backgroundPic{
  /* FIX PICTURE SIZE!!!!! */
  opacity: 0.65;
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#searchCity {
  font-family: 'Optima';
}
#searchCity:hover {
  outline: none;
}
#searchCity:focus {
  outline: none;
}
#searchBox {
  font-family: 'Optima';
}
#searchBox:hover {
  outline: none;
}
#searchBox:focus {
  outline: none;
}
#submitItem {
  font-family: 'Optima';
  background-color: rgb(240,240,240);
  color: rgb(167, 20, 159);
  border-style: groove;
  border-width: 2px;
  border-color: rgb(90, 90, 90);
}
#submitItem:hover {
  color: rgb(255, 14, 223);
  background-color: rgb(255,255,255);
  border: none;
}
#submitItem:focus {outline:0;
}

.header{
  z-index: 10;
  text-align: center;
}
#textLine{
  color: #266bff;
  font-family: fantasy;
  padding-left: 40px;
  font-size: 30px;
}

#title{
  text-align: center;
  font-style: bold;
  font-size: 74px;
  font-family: Optima;
  color: #266bff;
  position: relative;
  top: 25px;
}

#subtitle {
  font-size: 26px;
  font-family: Optima;
  color: #de26ff;
  position: relative;
  top: 16px;
}

#nb {
  font-family: fantasy;
  color: white;
  text-align: center;
}

#artistForm{
  text-align: center;
}

#cityDiv {
  text-align: center;

}

#listGang {
  font-family: fantasy;
  font-size: 20px;
  color: rgb(255, 183, 38);
}

#listBox{
  padding-top: 10px;
  border-style: groove;
  border-width: 2px;
  border-color: rgb(255, 183, 38);
  background-color: rgb(90, 90, 90);
}
